<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio de Sesión Exitoso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        .message {
            font-size: 24px;
            color: green;
        }
    </style>
</head>
<body>
<a href="/logout">Cerrar Sesión</a>
<div class="message">
    <h1>Bienvenido</h1>
    <p>Inicio de sesión exitosa.</p>
</div>
</body>
</html>
